html{
	margin:0 auto;
	padding: 0 auto; 
}
.had-container{
	background-image: url(../img/fondo.jpg);
	background-color: #003366;
	background-repeat: no-repeat;
background-position: 0px 125px;
	background-size: cover;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
}

header{
	padding-top: 20px;
}

.logo{
	width: 150px;
}

.espacio{
	padding: 10px !important;
}

.fotos img{
	margin:5px;
}

